:root {
  --primary-men: #002772;
  --secondary-men: #d6e6ff;
  --primary-women: #720060;
  --secondary-women: #fde2ff;
  --text-primary: #1e1e1e;
  --text-secondary: #3f3f3f;
  --unavailable-bg: #d8d7d7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
